<%layout("/mall/common/default.html",{'title' : '微商城'}){%>
<div class="page-group">
    <div id="page-shelf" class="page page-current">
        <%include("/mall/shelf/head.html"){}%>
        <div class="content">
            <div id="imageText" class="content-block">
                ${shelf.imageText}
            </div>
            <div class="infinite-scroll native-scroll" data-distance="100">
                <div class="list-block">
                    <ul class="list-container">
                    </ul>
                </div>
                <!-- 加载提示符 -->
                <div class="infinite-scroll-preloader">
                    <div class="preloader">
                    </div>
                </div>
            </div>
        </div>
        <%include("/mall/common/navigator.html",{'direct':true}){}%>
    </div>
    <%include("/mall/common/profile.html"){}%>
</div>
<!--手机端script需要加载后方-->
<%include("/mall/common/script.html"){}%>
<script type="text/javascript" src="${ctxPath}/js/sui/shelf.js"></script>
<%}%>