<!-- head -->
<header class="bar bar-nav">
    <a class="icon icon-me pull-left open-panel"></a>
    <a class="icon icon-left pull-right back"></a>
    <div class="searchbar row" style="background: rgba(0,0,0,0);width:80%; margin-left:auto;margin-right:auto" >
        <a href="#page-search" style="width:100%; margin-left:auto;margin-right:auto">
        <div class="search-input">
            <label class="icon icon-search" for="search"></label>
            <input type="search" id='search' placeholder='输入关键字...' disabled="disabled"/>
        </div>
        </a>
    </div>
</header>