<link rel="icon" type="image/png" href="${base}/template/assets/i/favicon.png">
<link rel="icon" sizes="192x192" href="${base}/template/assets/i/app-icon72x72@2x.png">
<!-- Tile icon for Win8 (144x144 + tile color) -->
<link rel="apple-touch-icon-precomposed" href="${base}/template/assets/i/app-icon72x72@2x.png">
<link rel="stylesheet" href="${base}/template/assets/css/amazeui.min.css">
<link rel="stylesheet" href="${base}/template/assets/css/app.css">
<link rel="stylesheet" href="${base}/template/assets/css/admin.css">
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${base}/template/assets/js/jquery.min.js"></script>
<script src="${base}/template/assets/js/amazeui.min.js"></script>
<script src="${base}/js/admin.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->