
<div id="page-cart-empty" class="page ${(cartItemCount!0)==0?'page-current':''}">
    <%include("/mall/cart/head.html"){}%>
    <div class="content" style="text-align:center">
        <div class="item-media" align="center">
            <div style=" width:8rem; height:8rem; background-color:#ccc; border-radius:50%;text-align:center">
                <i class="icon icon-form-cart" style="width:5.5rem;height:6.45rem"></i>
            </div>
        </div>
        <h3>购物车快饿瘪了T.T</h3>
        <h3>主人快给我挑点宝贝吧</h3>
        <p>
            <a href='${ctxPath}/weixin/mall#page-index' class="external" data-no-cache="true">返回首页</a>
        </p>
    </div>
</div>