<%layout("/mall/common/default.html",{'title' : '微商城'}){%>
<div class="page-group">
    <div id="page-activity" class="page page-current">
        <%include("/mall/activity/head.html"){}%>
        <%include("/mall/common/navigator.html",{'direct':true}){}%>
        <div class="content">
            <div id="imageText" class="content-block">
                ${activity.imageText}
            </div>
        </div>
    </div>
    <%include("/mall/common/profile.html"){}%>
    <!--手机端script需要加载后方-->
    <%include("/mall/common/script.html"){}%>
    <script type="text/javascript" src="${ctxPath}/js/sui/index.js"></script>
</div>
<%}%>